@model PruebaMVCLogin.Models.Pago
@{
    ViewData["Title"] = "";
}
<style type="text/css">
 .container {

        border-radius: 5px 10px 10px 20px;
        border-color: black;
        background: white;
        margin: 25px auto;
        border: 1px solid #ccc;
        box-shadow: 7px 7px 15px black;
        text-align: center;
    }
  
.btn{
    color: black;
    background: skyblue;
    border: 2px solid skyblue;
    border-radius: 6px;
    font-size: 20px;
    font-style: oblique;
    font-weight: bolder;
}
.btn:hover {
      background-color: transparent;
      color: black;
 }
a{
    font-style: oblique;
    color: black;
}

 h3{

    background: skyblue;
    border: 1px solid #ccc;
    box-shadow: 7px 7px 15px black;
    font-size: 65px;
    text-shadow: 5px 2px 2px white;
    text-align: center;
    font-style: oblique;
  }
  .form-group{
      text-align: center;
  }
.col-sm-2{
    text-align: center;
    font-style: oblique;
   
}
</style>
 <h3>REALIZA TU PAGO AQUI</h3>
<h1>@ViewData["Title"]</h1>

    <div class="container">

        <div class="row">
          <div class="col-sm-12 mt-5">
           <form asp-controller="Pago" asp-action="Pagar">
              <div class="form-group row">
                <input type="hidden" asp-for="UserID"/>
                <div class="col-sm-2">
                  <label asp-for="NombreTarjeta" class="control-label"></label>
                </div>
                <div class="col-sm-2">
                  <input asp-for="NombreTarjeta" class="form-control" />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2">
                  <label asp-for="NumeroTarjeta" class="control-label"></label>
                </div>
                <div class="col-sm-2">
                  <input asp-for="NumeroTarjeta" class="form-control" data-inputmask="'mask': '9999-9999-9999-9999'" />
                </div>
              </div>              
              <div class="form-group row">
                <div class="col-sm-2">
                  <label asp-for="DueDateYYMM" class="control-label"></label>
                </div>
                <div class="col-sm-2">
                  <input asp-for="DueDateYYMM" class="form-control" data-inputmask="'mask': '99/99', 'placeholder': 'yy/mm'" />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2">
                  <label asp-for="Cvv" class="control-label"></label>
                </div>
                <div class="col-sm-2">
                  <input asp-for="Cvv" class="form-control" data-inputmask="'mask': '999', 'placeholder': '999'" />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2">
                  <label asp-for="MontoTotal" class="control-label"></label>
                </div>
                <div class="col-sm-2">
                  <input asp-for="MontoTotal" class="form-control" data-thousands="," data-decimal="." />
                </div>
              </div>  
              <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                  <button type="submit" class="btn">Pagar</button> 
                  <br>
                     <br>   
                   <a class='btn'asp-controller='Pago' asp-action='Informe'>@ViewData["Message"] TU INFORME DE COMPRAS</a>
                </div>
              </div>
            </form>
            <a></a>
          </div>
        </div>
    </div