@{
    ViewData["Title"] = "inverciones jc";
}
<h1>@ViewData["Title"]</h1>

<br>
<br>
               


          <TABLE CELLPADDING="10"
	BORDER="1"
	ALIGN="LEFT">

  <tr>

    <td>*Proveer de alimentos comestibles en enlatados
                de calidad a nuestros clientes y la sociedad, en
                diversos productos nutritivos cuyos alimentos
                son hechas con la mejor calidad de pescados de
                mar.             
           </td>

    <td>*Como distribuidores de comestibles en enlatados
              a nivel nacional, nos vemos enfrentando desafío
              de posicionarnos como líderes en la venta y distribución
              de conservas de pescado  en el mercado nacional e internacional
              promoviendo la inversión, la producción y la exportación.
                             </td>

</table>
           <br><br><br>

                <h2 align="center"><strong>NUESTROS VALORES</strong></h2>
                <br>
             













             <table class="default">

  <tr>

    <td><h4>HONESTIDAD</h4>
              <p>Practicar en todo momento el valor de la honestidad en nuestra empresa para erradicar las malas practicas y asi aumente la eficiencia y compromiso de los trabajadores. </p></td>

    <td><h4>PUNTUALIDAD </h4>
              <p>Toda compra o pedido realizado por el cliente, hacerla llegar a nuestros  en el tiempo y el plazo acordado por ambos medios para demostrar a su vez la seriedad de nuestra empresa. </p></td>

    <td> <h4>EMPATIA</h4>
              <p>Tratar en todo momento conectarnos con el cliente, para ponernos en su lugar y atender de manera mas facil sus necesidades, prestando la ayuda necesaria para ofrecer nuestros productos.</p></td>

  </tr>

  <tr>

    <td><h4>RESPONSABILIDAD</h4>
              <p>Siempre ser responsables en todo sentido, ya sea en el ambito ambiental como tambien en la venta y entraga de nuestros productos, para asi poder lograr nuestros objetivos como empresa.</p></td>


              <td><h4>RESPETO</h4>
              <p>Demostrar en todo momento respeto mutuo entre personal de trabajo y tambien hacia nuestros clientes, aceptando nuestros errores y aprendiendo de las criticas de nuestros clientes.</p>
</td>
     </tr>
</table>


   <br>           
        <br>     
    

         <center><h2>Beneficios </h2></center> 
         <center><p>Beneficios de consumir nuestros productos</p></center> 
        </div>

        
              
        
             
            </div>
          
              
          
   <table class="default" table style="margin: 0 auto;">

  <tr>

    <td><h4>Rico en minerales</h4>
              <p>Esenciales como el hierro, el magnesio, el fósforo y el potasio.</p></td>

    <td> <h4>Posee grandes cantidades de yodo</h4>
              <p>Que nos protege el sistema nervioso, digestivo y muscular.</p></td>

    <td><h4>Posee vitaminas</h4>
              <p>De los grupos A, D y E, y es particularmente rico en las del grupo B.</p></td>
             
     </tr>

</table>