@{
     ViewData["Title"] = "";
}
<!DOCTYPE html>
<html lang="es">
<style type="text/css">
     h3 {
          text-align: center;
          background: skyblue;
          border: 1px solid #ccc;
          box-shadow: 7px 7px 15px black;
          font-size: 80px;
          text-shadow: 5px 2px 2px white;
          text-align: center;
          font-style: oblique;
     }

     .menu {
          background: white;
     }

     .contenidos {
          background: #fff;

     }


     .lateral {
          background: white;
     }

     .services {
          background: white;
     }

     h1,
     h4,
     p,
     h5 {
          text-align: center;
          font-style: oblique;
     }

     h2 {
          text-align: center;

          background: skyblue;
          border: 1px solid #ccc;
          box-shadow: 7px 7px 15px black;
          font-size: 80px;
          text-shadow: 5px 2px 2px white;
          text-align: center;
          font-style: oblique;
     }

     .container123 {
          background-color: white;
     }

     .col-md-3 {
          padding-left: 15px;
     }
</style>





<div class="container123">
     <h3>INVERSIONES JC</h3>
 <br><br>
      <div class="container">
          <section id="services123" class="services123">
               <div class="container" data-aos="fade-up">

                    <div class="section-title">
                       
                    </div>
                    <br>
                    <div class="row">
                         <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="zoom-in"
                              data-aos-delay="100">
                              <div class="icon-box">
                                   <img style="height: 250px;"
                                        src="https://elbosque.fundacionjan.cl/wp-content/uploads/mision.png"
                                        class="card-img-top" alt="...">
                                   <br>
                                   <p>Proveer de alimentos comestibles en enlatados
                de calidad a nuestros clientes y la sociedad, en
                diversos productos nutritivos cuyos alimentos
                son hechas con la mejor calidad de pescados de
                mar.</p>
                              </div>
                         </div>

                         <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                              data-aos-delay="200">
                              <div class="icon-box">
                                   <img style="height: 250px;"
                                        src="https://elbosque.fundacionjan.cl/wp-content/uploads/vision.png"
                                        class="card-img-top" alt="...">
                                   <br>
                                   <p>Como distribuidores de comestibles en enlatados
              a nivel nacional, nos vemos enfrentando desafío
              de posicionarnos como líderes en la venta y distribución
              de conservas de pescado  en el mercado nacional e internacional
              promoviendo la inversión, la producción y la exportación.</p>
                              </div>
                         </div>
                         
                    </div>
               </div>
          </section>
     </div>

     <br><br>
     <div class="container">
          <section id="services123" class="services123">
               <div class="container" data-aos="fade-up">

                    <div class="section-title">
                         <h2>NUESTROS VALORES</h2>
                    </div>
                    <br>
                    <div class="row">
                         <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in"
                              data-aos-delay="100">
                              <div class="icon-box">
                                   <img style="height: 150px;"
                                        src="https://interactivadigital.com/uploads/2021/10/marketing-de-la-honestidad-102606.jpg"
                                        class="card-img-top" alt="...">
                                   <br> <br> 
                                   <h4>HONESTIDAD</h4>
                                   <br>
                                   <p>Practicar en todo momento el valor de la honestidad en nuestra empresa para erradicar las malas practicas y asi aumente la eficiencia y compromiso de los trabajadores.</p>
                              </div>
                         </div>

                         <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                              data-aos-delay="200">
                              <div class="icon-box">
                                   <img style="height: 150px;"
                                        src="https://0grados.com.mx/admin/wp-content/uploads/2014/11/A0CG0001660.jpg"
                                        class="card-img-top" alt="...">
                                   <br> <br>
                                   <h4>PUNTUALIDAD</h4>
                                   <br>
                                   <p>Toda compra o pedido realizado por el cliente, hacerla llegar a nuestros  en el tiempo y el plazo acordado por ambos medios para demostrar a su vez la seriedad de nuestra empresa.</p>
                              </div>
                         </div>
                         <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                              data-aos-delay="200">
                              <div class="icon-box">
                                   <img style="height: 150px;"
                                        src="https://blog.ida.cl/wp-content/uploads/sites/5/2020/11/ida-empatia-blog-1024x735.png"
                                        class="card-img-top" alt="...">
                                   <br> <br>
                                   <h4>EMPATIA</h4>
                                   <br>
                                   <p>Tratar en todo momento conectarnos con el cliente, para ponernos en su lugar y atender de manera mas facil sus necesidades, prestando la ayuda necesaria para ofrecer nuestros productos.</p>
                              </div>
                         </div>

                         <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
                              data-aos-delay="300">
                              <div class="icon-box">
                                   <img style="height: 150px;"
                                        src=https://www.especiasmixtli.com/uploads/blog-tips-para-convivir-con-respeto-Dise%C3%B1o%20sin%20t%C3%ADtulo%20(59).jpg-1605301168.jpg
                                        class="card-img-top" alt="...">
                                   <br> <br>
                                   <h4>RESPETO</h4>
                                   <br>
                                   <p>Demostrar en todo momento respeto mutuo entre personal de trabajo y tambien hacia nuestros clientes, aceptando nuestros errores y aprendiendo de las criticas de nuestros clientes.</p>
                              </div>
                         </div>
                    </div>
               </div>
          </section>
     </div>
</div>
</div>
</div>


<div class="container">
     <section id="services" class="services">
          <div class="container" data-aos="fade-up">

               <div class="section-title">
                    <h2>BENEFICIOS DE LAS CONSERVAS </h2>
               </div>

               <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                         <div class="icon-box">
                              <img style="height: 300px;"
                                   src="https://previews.123rf.com/images/chudtsankov/chudtsankov1607/chudtsankov160700256/61548230-chef-de-la-mascota-del-tibur%C3%B3n-azul-de-dibujos-animados-lami%C3%A9ndose-los-labios-y-la-celebraci%C3%B3n-de-un.jpg"
                                   class="card-img-top" alt="...">
                              <br>
                              <h4>Rico en Minerales</h4>
                              <p>Esenciales como el hierro, el magnesio, el fósforo y el potasio.
                              </p>
                         </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                         data-aos-delay="200">
                         <div class="icon-box">
                              <img style="height: 300px;"
                                   src="https://media.istockphoto.com/vectors/iodine-chemical-symbol-vector-id1152215325?k=20&m=1152215325&s=612x612&w=0&h=8VGX4DZcN6RUcfctyKYYhu0Om808fUeUrlnbhrsVsKI="
                                   class="card-img-top" alt="...">
                              <br>
                              <h4>Rico en yodo</h4>
                              <p>Que nos protege el sistema nervioso, digestivo y muscular.</p>
                         </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                         data-aos-delay="200">
                         <div class="icon-box">
                              <img style="height: 300px;"
                                   src="https://png.pngtree.com/png-vector/20191101/ourlarge/pngtree-pills-vitamins-icon-cartoon-style-png-image_1917449.jpg"
                                   class="card-img-top" alt="...">
                              <br>
                              <h4>Posee Vitaminas</h4>
                              <p>De los grupos A, D y E, y es particularmente rico en las del grupo B.</p>
                         </div>
                    </div>

          
               </div>
          </div>
     </section>
</div>


<div class="container">
     <footer style="background: white;">

          <marquee behavior="scroll" direction="left"><img
                    src="https://tecneofito.com/wp-content/uploads/2017/11/fish-swimming.gif" width="94" height="88"
                    alt="Swimming fish" /></marquee>
     </footer>
</div>