@model PruebaMVCLogin.Models.Informacion
@{
    ViewData["Title"] = "";
}
<style type="text/css">
    .text-center {

        border-radius: 5px 10px 10px 20px;
        border-color: black;
        background: white;
        margin: 25px auto;
        border: 1px solid #ccc;
        box-shadow: 7px 7px 15px black;
    }

   h1{
       font-weight: bolder;
       font-size: 50px;
       background: skyblue;
       font-style: oblique;
   }
   
    .form-control{
        
          border: 1px solid skyblue;
      box-shadow: 7px 7px 25px skyblue;
    }
   

label
{
    font-size: 25px;
    font-style: oblique;
}
.btn{
   color: black;
    background: skyblue;
    border: 2px solid skyblue;
    border-radius: 6px;
    font-size: 25px;
    font-style: oblique;
    font-weight: bolder;
}
.btn:hover {
        background-color: transparent;
      color: black;
 }

</style>
<div class="text-center">
<h1  >Datos Requeridos</h1>
<br>
   <form asp-controller="Home" asp-action="Requerimiento">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control form-control-sm" type="text"  aria-label=".form-control-sm" />

        <label asp-for="Apellido" class="control-label"></label>
        <input asp-for="Apellido" class="form-control" />

        <label asp-for="Telefono" class="control-label"></label>
        <input asp-for="Telefono" class="form-control" />
<br>
        
        <div class="form-group">
            <button type="submit" class="btn">Guardar</button> 
        </div>              
    </form>
</div>